*.log
*.py[c]
*.ipynb_checkpoints
*.anymcr
.cache
.pytest_cache
*egg-info
*.bak
dist/*
build/*
docs/_build/*
.vscode/*
docs/Tutorial/Tutorial files/BatchProcess/Output/*
docs/Tutorial/data.db.dat
docs/Tutorial/data.db.dir
docs/Tutorial/TestOutput.csv
