//Interpolationvector for {FINGERNAME}
AnyVector MCPFlexionVec={{{MCPFLEXION}}};
AnyVector MCPAbductionVec={{{MCPABDUCTION}}};
AnyVector PIPFlexionVec={{{PIPFLEXION}}};
AnyVector DIPFlexionVec={{{DIPFLEXION}}};
